body {
  height: 100%;
  font-family: 'open_sans';
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

// .slider {
//   min-width: 0;
//   position: relative;
//   margin: 0 auto;
//   padding: 0 60px;
//   height: 400px;
//   display: flex;
//   justify-content: center;
//   overflow: hidden;
//  }
 
//  .slick-slider {}
 
//  .slick-list {
//   overflow: hidden;
//  }
 
 .slick-track {
  display: flex;
  margin-top: -60px;
 }
 
//  .slider__item {
//   text-align: center;
//  }
 
//  .slick-arrow {
//   position: absolute;
//   top: 50%; 
//   padding: 0;
//   z-index: 1500;
//   font-size: 0;
//   width: 34px;
//   height: 61px;
//   border: none;
//   cursor: pointer;
//  }
//  .slick-arrow.slick-prev {
//   left: 16%; 
//   background: url('../images/prev.png') 0 0 / 100% no-repeat;
//  }
 
 
//  .slick-arrow.slick-next {
//   right: 17%;
//   background: url('../images/next.png') 0 0 / 100% no-repeat;



























